@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
/* font-family: 'Poppins', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
/* font-family: 'Merriweather', serif; */

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

/* SIDEBAR STYLE */
.fixed-left {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

.wrapper {
    display: flex;
    width: 100%;
    position: relative;
}

#sidebar {
    width: 250px;
    background: #373066;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 30px;
    background: #594f8d;
    text-transform: uppercase;
    text-align: center;
}

#sidebar ul.components {
    padding: 40px 0;
}

#sidebar ul.components .fa-solid {
    width: 30px;
}

#sidebar ul p {
    color: #fff;
    padding: 20px;
}

#sidebar ul li a {
    padding: 40px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #594f8d;
    background: #fff;
}

#sidebar .social-media {
    position: absolute;
    bottom: 0;
    transform: translateX(30%);
    display: flex;
}

#sidebar .social-media a {
    display: block;
    width: 40px;
    background: #594f8d;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 0 5px;
    color: #bdb8d7;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#sidebar .social-media a:hover {
    background: #fff;
    color: #373066;
    transition: 0.5s;
    font-size: 30px;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #594f8d;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#sidebar ul ul a {
    font-size: 0.9em;
    padding-left: 50px;
    background: #373066;
}

a.article,
a.article:hover {
    background: #6d7fcc;
    color: #fff;
}

#sidebarCollapse {
    float: left;
    color: #fff;
    background: #b96c9b;
    border: none;
}

/* #title {
    background: #5f58a6;
} */

/* CONTENT STYLE */
#content {
    width: 100%;
    padding: 20px;
    margin-left: 250px;
    min-height: 100vh;
    transition: all 0.3s;
}

#content .about-me {
    margin: 20px;
}

#content.responsive {
    margin-left: 0;
}

.wrapper #content h1 {
    color: #3c1f35;
    float: right;
}

#content h2 {
    color: #3c1f35;
    margin-top: 30px;
    margin-bottom: 20px;
    letter-spacing: 3px;
}

#content h3 {
    color: #3c1f35;
    margin-top: 10px;
}

#content p {
    margin-bottom: 15px;
    font-size: 20px;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    line-height: 1.7em;
    color: #717171;
}

#content #links {
    text-decoration: underline;
    color: #b96c9b;
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
}

#content #links:hover {
    color: #7b99d6;
    transition: 0.5s;
}

#content label {
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 10px;
}

#submitButton {
    align-items: center;
    color: #fff;
    background: #7b99d6;
    border: none;
    text-transform: uppercase;
    font-size: 25px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
}

.contact {
    transform: translateY(100%);
}

/* Card Styles */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    max-width: 100%;
    margin-bottom: 50px;
}

.box {
    padding: 2px 16px;
    background: #fff;
    color: black;
}

.box h4 {
    text-align: left;
    padding-top: 10px;
}

.box ul {
    list-style: none;
    padding: 2px;
    text-align: left;
}

.box li {
    padding: 3px;
    font-size: 20px;
    text-align: left;
}

/* For bookmarks */
.bookmarks {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: 0.3s;
    max-width: 50%;
    transform: translate(50%);
}

.boxTwo {
    padding: 2px 16px;
    background: #f0d2e1;
    color: black;
}

.boxTwo h4 {
    text-align: left;
    padding-top: 10px;
}

.boxTwo ul {
    list-style: none;
    padding: 2px;
    text-align: left;
}

.boxTwo li {
    padding: 3px;
    font-size: 20px;
    text-align: left;
}

.boxTwo a:hover {
    background: #000;
    color: #fff;
    font-size: 23px;
    transition: 0.5s;
    border-radius: 10px;
    padding: 5px;
}

/* Responsive iframe */
.wrap {
    margin: auto;
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%;
    /* 16:9 Aspect Ratio */
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}

/* MEDIAQUERIES */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        width: -250;
    }

    #sidebar.active {
        margin-left: 0;
    }

    #content h1 {
        font-size: 18px;
    }

    #content {
        margin-left: 0;
    }

    #content.responsive {
        margin-left: 250px;
    }

    #sidebarCollapse span {
        display: none;
    }

    .contact {
        transform: translateY(0);
    }
}

@media (max-width: 500px) {
    #content h1 {
        margin-top: 15px;
    }

    #content p {
        font-size: 15px;
    }

    #content #links {
        font-size: 20px;
    }

    .box li {
        font-size: 15px;
    }

    .bookmarks {
        max-width: 100%;
        transform: translate(0);
    }

    .contact {
        transform: translateY(0);
    }
}